*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
.maincontainer{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    min-width: 1189px;
}
.navbar{
    height: 83px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.774);
    justify-content: center;
    align-items: center;
    display: flex;

}

.container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.logo{
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 80%;
}
#midparent{
    width: 70%;
}
.middle{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    gap: .2rem;
    

}
.middle div{
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.fa-x,.fa-bars{
display: none;
}
@media only screen and (max-width: 950px) {
    .middle div{
        font-weight: 600;
        font-size: 0.9rem;
    }
    .quickEnquiry{
        font-weight: 600;
        font-size: 0.9rem;
    }

    .container{
        transition: all 1s;
        width: 100%;

    }



  }




  /* ========================================= */
  /* back image content */
  /*============================================= */
  .imgbody{
    width: 99%;
    margin: 0 auto;
    position: relative;
max-width:  1500px;


  }

  .imgbody::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,white 0%,transparent 50%);
    position: absolute;
    top: 0;
    left: 0;


  } 
  .imgbody img{
   max-width:  1500px;
   height: calc(100vh - 83px);
   width: 100%;
   object-fit: cover;


  }
/* ===================================================== */
/* content items */
/* ===================================================== */


.contentitem{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    margin-top: 20%;
    width: 97%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.discription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: white;

}
/* ==================== */
/* contentitem1 */
/* ====================== */
.contentitem1{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
}

.childcontentitem1{
     /* width: calc(100% - 54px);  */
     width: calc(25% - 15px);
    min-width: 285px; 
    height: 420px;
    padding: 15px;
    background: white;
}
.innerchildcontentitem1{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    display: flex;
    gap: 10px;
    
}
.innerchildcontentitem1 .title{
    font-size: 21px;
    font-weight: 600;
    display: block;
}

 .childcontentitem1logo{
    width: 100%;
    height: 340px;
    display: block;
} 

.childcontentitem1logo img{
    width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;
}
.childcontentitem1item{
    width: 100%;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /* gap: 20px; */
    /* justify-content: space-between; */
}
.childcontentitem1item .list{
   width: 50%;
   height: 150px;
   position: relative;

}
.childcontentitem1item .list p{
    position: absolute;
bottom: -2px;
left: 0;
}
.childcontentitem1item img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width:1250px) {

    .contentitem1{
        display: flex;
        gap: 10px;
    }
    .childcontentitem1{
        flex-grow: 1;
        background-color: gray;   
    }
}


  @media only screen and (max-width:830px){
    .fa-solid {
        display: inline-block;
        position: relative;
        z-index: 999;
        position: absolute;
        top:3%;
        right: 5%;
       font-size: 2rem;
       color: lightblue;
       cursor: pointer;
    }
    .display{
     display: none;
      }
      .visibal{
        display: inline-block;
      }
      .middle{
        visibility: hidden;
     }

    .midparent{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    }
     
    .middle1{
        visibility: inherit;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
       background: rgba(173, 216, 230, 0.382);
        width:50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10rem 0;
        transition: all 1s;
        cursor: default;

    }

  }